*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select, label{
    cursor: pointer;
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .answers{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
    padding-top: 4rem;
    width: 70vw;
    margin: 0 auto;
  }

  .option{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 1rem;
    width: fit-content;
  }

  #main-btn{
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 20px;
  }

  .correct{
    background-color: rgb(140, 212, 32);
    font-weight: bold;
    color: white;
  }

  .incorrect{
    background-color: lightcoral;
    font-weight: bold;
    color: white;
  }