body{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    margin: 0 auto; 
    max-width: 40%;
}
table{
    border: 2px solid black;
    margin: 3rem;
    border-collapse: collapse;
}
tr{
    border: 4px dotted green;
}
td{
    border: 3px solid green;
    width: 3rem;
    padding: 1rem;
}
img{
    max-width: 100%;
    padding: 0.125rem;
}
p{
    margin: 2rem;
}
a{
    color: green;
    text-decoration: none;
    padding: 0.5rem;
}
footer > a{
    margin: 3rem;
}
#container{
    border: 2px solid green;
    margin: 5rem;
}
.font-edit{
    font-size: 1.5rem;
    font-weight: 800;
}
.hide{
    display: none;
}
.red{
    font-size: xx-large; 
    color: red;
}